Source: derp
Section: python
Priority: extra
Maintainer: fattire <f4ttire@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python-all(>=2.6.6-3~), fakeroot, gksu
Standards-Version: 3.9.3
Homepage: 

Package: derp
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-wxgtk2.8
Description: Device Environment Replacement Program.  A cross-platform,
 scriptable installer for mobile and handheld devices.  derp (the device
 environment replacement program) is intended to be used for simplifying
 installations to mobile devices such as phones and tablets.
 .
 It uses an XML-based format for the scripts, and hopefully will make it
 easier for non-technical people to do things like replacing their stock
 operating system with an aftermarket one such as CyanogenMod.
